
<div class="row">
            <div class="col-lg-12 text-center">
                <h1>Leaderboards</h1>
            </div>
</div>

<div class="container" >

<div class="panel panel-default" style="width:100%;margin:0 auto">
	

	<div class="panel-heading">
		<h1 class="panel-title" style="color:gold">Javascript</h1>
	</div>
	
		
		<div style="margin-left:50px">
		
		<h4> Courses: </h4>
		<ul>
			<% @js.each do |course| %>
				<li><a href="/leaderboards/js?id=<%=course.id%>"><%=course.name%></a></li>
			<% end %>
		</ul>

		</div>

	</div>
</div>

<div class="container" >
<div class="panel panel-default" style="width:100%;margin:0 auto">

	<div class="panel-heading">
		<h1 class="panel-title" style="color:red">Ruby</h1>
	</div>


	<div style="margin-left:50px">

		<h4> Courses: </h4>
	<ul>
		<% @ruby.each do |course| %>
			<li><a href="/leaderboards/ruby?id=<%=course.id%>"><%=course.name%></a></li>
		<% end %>
	</ul>

	</div>

</div>
</div>

<div class="container" >
<div class="panel panel-default" style="width:100%;margin:0 auto">

	<div class="panel-heading">
		<h1 class="panel-title" style="color:blue">Python</h1>
	</div>
	
	<div style="margin-left:50px">

		<h4> Courses: </h4>
	<ul>
		<% @python.each do |course| %>
			<li><a href="/leaderboards/python?id=<%=course.id%>"><%=course.name%></a></li>
		<% end %>
	</ul>

	</div>

</div>
</div>

<div class="container" >
<div class="panel panel-default" style="width:100%;margin:0 auto">
<div class="panel-heading">
		<h1 class="panel-title" style="color:purple">Java</h1>
</div>

	<div style="margin-left:50px">

				<h4> Courses: </h4>
	<ul>
		<% @java.each do |course| %>
			<li><a href="/leaderboards/java?id=<%=course.id%>"><%=course.name%></a></li>
		<% end %>
	</ul>

	</div>

</div>
</div>